<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<title>我参与的</title>
		<link rel="stylesheet" href="/stylesheets/mydonation.css" media="screen" title="no title">
	    <script type="text/javascript" src="/jsSheets/jQuery.min.js"></script>
	    <script type="text/javascript" src="/jsSheets/dodnationRequest.js"></script>
	    <script type="text/javascript" src="/jsSheets/bower_components/moment/moment.js"></script>
	</head>
	<body id="bodyBg">
      <div id="middleContentStyle">
        <ul>
        		
        </ul>
      </div>
  </body>
  <script type="text/javascript">
  	$(function(){
  		donationHistory();
  	});
  </script>
</html>
